<!DOCTYPE html>
<html>
<head>
    <title>지니의 타로램프</title>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        var link_detect = '{{ url_for( 'route_detect_result') }}'
        var link_exit = '{{ url_for( 'route_exit') }}'
    </script>

    <link rel="stylesheet" href="../static/css/review.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
</head>

<body>
    <section class="background">
        <div id="pos">
            <a href={{url_for('route_main')}}>
                <img src="../static/image/genie.png" style="width:90px; height:80px;" title="처음으로 돌아가기"/>
            </a>
        </div>
        <div id="text-box">
            <p class="result1" ></p>
            <br>
            <p class="result2"></p>
        </div>
        <div id="star-box">
        <div class="star-rating">
          <input type="radio" id="5-stars" name="star" value="5" />
          <label for="5-stars" class="star">&#9733;</label>
          <input type="radio" id="4-stars" name="star" value="4" />
          <label for="4-stars" class="star">&#9733;</label>
          <input type="radio" id="3-stars" name="star" value="3" />
          <label for="3-stars" class="star">&#9733;</label>
          <input type="radio" id="2-stars" name="star" value="2" />
          <label for="2-stars" class="star">&#9733;</label>
          <input type="radio" id="1-star" name="star" value="1" />
          <label for="1-star" class="star">&#9733;</label>
        </div>
        </div>
        <div class="wrap">
            <button class="button" onclick="save()">별점 저장하기</button>
        </div>
            <script src="../static/js/review.js"></script>
        <div id="back">
            <a href="javascript:history.back()">
                <img src="../static/image/back_negative.png" style="width:55px; height:55px;"/>
            </a>
        </div>
        <div id="next">
            <a href={{url_for('route_exit')}}>
                <img src="../static/image/next_negative.png" style="width:55px; height:55px;"/>
            </a>
        </div>
    </section>

</body>
</html>
