<!DOCTYPE html>
<html>
<head>
    <title>지니의 타로램프</title>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../static/css/exit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
</head>

<body>
    <div class="background">
        <div id="doorWrap">
            <div id="door">
                <img src="#" alt="door" id="doorImage">
            </div>
            <div id="enter">
                <a href={{url_for('route_start')}} class="button">퇴장하기</a>
            </div>
        </div>
    </div>


</body>
</html>
