<html>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <body>
        <!--
        <button name="button_fortune"
                onclick="location.href={url_for('route_call_fortune')"}>
                운세 의도
        </button>
        <p/>
        <button name="button_cardNum">몇 번째 카드</button>
        <p/>
        <button name="button_score">별점</button>
        -->

        <!---
        <div id="forforforfor">
            <a href={{url_for('wantWhichFortune')}}>운세 의도</a>
        </div>
        -->

        <div id="id1">
            <a href={{url_for('wantV2T')}}>v2t</a>
        </div>

        <div id="id2">
            <a href={{url_for('wantFortuneType')}}>어떤 운세?</a>
        </div>
        
        <div id="id3">
            <a href={{url_for('wantPickOneCard')}}>카드 뽑기</a>
        </div>
        
        
    </body>
</html>